$mainRegularFont: 'Montserrat-Regular', Helvetica, Arial, sans-serif;

$mainFontColor: #ffffff;
$errorFontColor: #ff1d1d;
$successFontColor: #3bff2a;

$desktopWidth: 1280px;
$smallDesktopWidth: 1024px;
$tabletWidth: 768px;
$smallTabletWidth: 640px;
$phoneWidth: 480px;
$smallPhoneWidth: 320px;
