@import './normalize';
@import './reset';
@import './fonts';
@import './vars';

body {
  font-family: $mainRegularFont;
  color: $mainFontColor;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(123.83deg, #ffc1fe 16.15%, #caacff 84.55%);
}

.container {
  max-width: 540px;
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(147.92deg, #942793 0%, #5628a6 100%);
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.3);
  min-height: 632px;
  padding: 50px 95px;
  &__title {
    font-size: 3.6rem;
  }
  &__container {
    margin-top: 50px;
    .form__field:not(:first-child) {
      margin-top: 20px;
    }
  }
  &__field {
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 96px;
  }
  &__input {
    background: none;
    border-bottom: 2px solid #ffffff;
    width: 350px;
    color: $mainFontColor;
    margin-top: 10px;
    padding-right: 25px;
  }
  &__error {
    font-size: 1.8rem;
    margin-top: 5px;
    color: #ff1d1d;
    display: none;
  }
  &__button {
    font-size: 2.4rem;
    width: 350px;
    height: 60px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    margin-top: 50px;
    color: $mainFontColor;
    background: none;
    &:hover:enabled {
      color: #5628a6;
      background: #ffffff;
    }
    &:disabled {
      color: #928e8e;
      border-color: #928e8e;
      cursor: not-allowed;
    }
  }
}

.icon {
  position: absolute;
  right: 0px;
  top: 35px;
  display: none;
}
